body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main::before {
  content: "";
  background-image: url("./bgImage.jpg");
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  background-image: linear-gradient(
    to right top,
    #38232f,
    #633541,
    #8f4b4a,
    #b4684a,
    #cd8d46,
    #d79844,
    #dfa341,
    #e7af3e,
    #f19c3e,
    #f88845,
    #fc7351,
    #fb5f5f
  );
  width: 24rem;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading {
  font-size: 1.8rem;
  font-weight: 500;
}

.input__style {
  padding: 0.5rem;
  border-radius: 5px;
}

.input__block {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input__label {
  display: flex;
  flex-direction: column;
}

.btn {
  border: 2px solid white;
  padding: 0.2rem 0.8rem;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  border: 2px solid gray;
  color: white;
}

.result {
  text-align: center;
  font-size: 1.2rem;
}

.social__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  padding-top: 1rem;
}

.footer {
  font-size: 1.2rem;
}

.responsiveFooter {
  display: none;
}

@media (max-width: 490px) {
  body {
    overflow-y: hidden;
  }
  .container {
    width: 20rem;
    transition: all 0.2s ease-in-out;
  }
  .footer {
    display: none;
  }
  .responsiveFooter {
    display: block;
  }
}
